/* ----- Container Styles ----- */
.textarea-container {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

/* ----- Label Styles ----- */
.textarea-label {
    font-size: 16px;
    font-weight: 800;
    color: #333;
    margin-bottom: 8px;
}

/* ----- Textarea Base Styles ----- */
.textarea {
    width: 100%;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    min-height: 40px;
    resize: none;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #BFBEBE;
    outline: none;
    transition: border-color 0.3s ease;
}

.textarea::placeholder {
    color: #bfbebe;
}

/* Focus state for better UX */
.textarea:focus {
    border-bottom-color: #050505;
}

/* ----- Character Counter Styles ----- */
.char-count {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 14px;
    color: #BFBEBE;
    background-color: white;
    padding-left: 5px;
}

.char-counter {
    color: #050505;
}

/* ----- Error State Styles ----- */
.textarea-container.error .textarea {
    border-bottom-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

@media screen and (min-width: 375px) {
    .textarea {
        width: 343px;
    }

    .char-count {
        right: 0;
    }
}

/* ----- Responsive Adjustments ----- */
@media screen and (min-width: 768px) {
    .textarea-container {
        margin-bottom: 60px;

    }

    .textarea {
        font-size: 16px;
        width: 649px;
    }

    .textarea-label {
        font-size: 16px;
    }

    .char-count {
        font-size: 16px;
        right: 55px;
    }
}

@media screen and (min-width: 1440px) {
    .char-count {
        right: 5px;
    }
}