.card {
	list-style: none;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.card {
		max-width: 342px;
	}
}

@media screen and (min-width: 1440px) {
	.card {
		max-width: 290px;
	}
}

.iconWrapper {
	justify-content: center;
	align-items: center;
	display: flex;
	border: 1px solid #bfbebe;
	border-radius: 30px;
	padding: 11px;
	width: 40px;
	height: 40px;
	background: none;
}

.iconWrapper:hover {
	background-color: #fff;
	border: none;
	filter: invert(1);
}

.image {
	margin: 0 0 16px;
	height: 275px;
	width: 100%;

	object-fit: cover;
	object-position: center;

	border-radius: 30px;
	overflow: hidden;
}

.title {
	margin: 0 0 8px;
	font-size: 18px;
	font-weight: 900;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: -0.2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text {
	margin: 0 0 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: normal;
}

.info {
	display: flex;
	justify-content: space-between;
}

.userInfo {
	display: flex;
	gap: 8px;
	align-items: center;
}

.avatarContainer {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	overflow: hidden;
}

.avatar {
	height: 100%;
}

.name {
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	overflow: hidden;
	max-width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.buttons {
	display: flex;
	gap: 4px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 36px;
	width: 36px;

	border-radius: 50%;
	background-color: #fff;

	border: 1px solid var(--color-gray);
}

.icon {
	height: 16px;
	width: 16px;
	fill: currentColor;
}

@media (min-width: 768px) {
	.image {
		height: 275px;
	}

	.title {
		font-size: 20px;
	}

	.text {
		font-size: 16px;
		line-height: 24px;
	}

	.avatarContainer {
		height: 40px;
		width: 40px;
	}

	.name {
		font-size: 16px;
		line-height: 24px;
	}

	.btn {
		height: 42px;
		width: 42px;
	}
	.iconWrapper {
		width: 42px;
		height: 42px;
	}
}
