.wrapper {
  font-family: 'Mulish'; 
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 64px;
}

.home,
.separator,
.current {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.home,
.separator {
  color: #bfbebe;
}

.current {
  color: #050505;
}

/* Tablet */
@media (min-width: 768px) {
  .wrapper {
    gap: 12px;
    margin-top: 100px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .wrapper {
    gap: 8px;
    margin-top: 120px;
  }
}
