.category-section {
    padding: 64px 0 64px;
}

@media screen and (min-width: 768px) {
    .category-section {
        padding: 100px 0 100px;
    }
}

@media screen and (min-width: 1440px) {
    .category-section {
        padding: 120px 0 120px;
    }
}
