.hero {
  background-color: #050505;
  color: #ffffff;
  text-align: center;
  padding: 20px 16px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 64px;
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  max-width: 327px;
  margin: 0 auto;
  margin-top: 140px;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 326px;
  margin: 20px auto 0;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px auto 0;
}

.button:hover {
  background-color: #ffffff;
  color: #050505;
}

.images {
  width: 100%;
  max-width: 375px;
  margin: 29.5px auto 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageMain {
  width: 77px;
  height: 70px;
  border-radius: 15px;
  margin-top: 40px;
}

.imageSecondary {
  width: 190px;
  height: 172px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .hero {
    padding: 20px 29px;
    margin-bottom: 100px;
  }

  .title {
    font-size: 70px;
    line-height: 70px;
    max-width: 678px;
    margin-top: 151px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
    max-width: 577px;
    margin-top: 40px;
  }

  .button {
    padding: 16px 32px;
    margin-top: 40px;
  }

  .images {
    max-width: 768px;
    margin-top: 40px;
    margin-bottom: 90px;
  }

  .imageSecondary {
    width: 302px;
    height: 273px;
  }

  .imageMain {
    margin-top: 60px;
    width: 128px;
    height: 116px;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 20px 60px;
    margin-bottom: 120px;
  }

  .title {
    font-size: 90px;
    line-height: 90px;
    max-width: 875px;
    margin-top: 88px;
  }

  .images {
    max-width: 1440px;
    margin: 40px auto 82px;
  }

  .imageMain {
    margin-top: 65px;
  }
}
