.section {
  margin: 20px auto;
  max-width: 375px;
}

.title {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 32px 0 20px;
  color: #050505;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 85px; 
  /* padding: 10px; */
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 12px;
}

.ingridientImg {
  width: 75px;
  height: 75px;
  border: 1px solid #bfbebe;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 55px;
  height: 55px;
  object-fit: contain;
  display: block;
}

.indridientName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.name {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #050505;
}

.quantity {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #7a7a7a;
}


@media screen and (min-width: 768px) {
  .section {
    margin: 40px 0px 40px 0px;
    max-width: 768px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 90px; 
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    height: 90px;
    border-radius: 15px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .ingridientImg {
    width: 90px;
    height: 90px;
    padding: 15px;
    border: 1px solid #bfbebe;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
  }

  .image {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
  }

  .indridientName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .name {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #050505;
  }

  .quantity {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #7a7a7a;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    max-width: 1200px;
    margin: 60px 0px 60px 0px;
  }

  .list {
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    grid-auto-rows: 90px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    height: 90px;
    border-radius: 15px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .ingridientImg {
    width: 90px;
    height: 90px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #bfbebe;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
  }

  .image {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
  }

  .indridientName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .name {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #050505;
  }

  .quantity {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #7a7a7a;
  }
}
