.section {
  max-width: 375px;
  font-family: 'Mulish', sans-serif;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom:20px;
  color: #050505;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 85px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 12px;
}

.ingridientImg {
  width: 75px;
  height: 75px;
  border: 1px solid #bfbebe;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 55px;
  height: 55px;
  object-fit: contain;
  display: block;
}

.indridientName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.name,
.quantity {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
}

.name {
  color: #050505;
}

.quantity {
  color: #7a7a7a;
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 90px;
  }

  .item {
    height: 90px;
    gap: 14px;
    border-radius: 15px;
  }

  .ingridientImg {
    width: 90px;
    height: 90px;
    padding: 15px;
  }

  .image {
    width: 60px;
    height: 60px;
  }

  .name,
  .quantity {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    max-width: 1200px;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 90px;
  }
}
