.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 11px;
	border-radius: 50%;
	background-color: #fff;

	border: 1px solid var(--color-gray);
}

.btn:hover{
	filter: invert();
}

.icon {
	height: 16px;
	width: 16px;
}

@media (min-width: 768px) {
	.btn {
		padding: 12px;
	}
}
