.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  margin: 8px 8px 0 8px;
  padding-top: 20px;
}

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.centerNav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Темний стиль */
.dark {
  background-color: #050505;
  color: #fff;
  --border-color-hover: #ffffff33;
}

/* Світлий стиль */
.light {
  background-color: #fff;
  color: #000;
  --border-color-hover: #bfbebe;
}

@media (min-width: 768px) {
  .header {
    margin: 16px 16px 0 16px;
  }
  .headerContainer {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .header {
    margin: 20px 20px 0 20px;
  }
  .headerContainer {
    max-width: 1440px;
    padding: 0 60px;
  }
}
