.subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #bfbebe;
    margin-bottom: 32px;
    max-width: 531px;
}

@media screen and (min-width: 768px) {
    .subtitle {
        font-size: 16px;
        line-height: 150%;
        color: #1a1a1a;
        margin-bottom: 40px;
    }
}