.burgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burgerButton {
    display: none;
  }
}

.burgerIcon {
  width: 28px;
  height: 28px;
  fill: currentColor;
}

.darkIcon {
  color: #ffffff;
}

.lightIcon {
  color: #050505;
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #050505;
  color: #ffffff;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 2000;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-left: 55px;
}

@media screen and (min-width: 768px) {
  .burgerMenu {
    display: none;
  }
}

.burgerMenu.open {
  transform: translateX(0);
  margin: 0;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.closeIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  color: #ffffff;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.mobileNavItem {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.menuImages {
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.imageMain {
  width: 77px;
  height: 70px;
  border-radius: 15px;
  margin-top: 40px;
}

.imageSecondary {
  width: 190px;
  height: 172px;
  border-radius: 30px;
}
