.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 375px;
  padding: 0 16px 16px;
  margin: 0 auto;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

.footerLogo {
  letter-spacing: -0.48px;
  color: #050505;
  text-transform: lowercase;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  text-decoration: none;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialButton {
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-radius: 100px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: background-color 0.3s;
}

.socialButton svg {
  width: 16px;
  height: 16px;
}

.socialButton:hover {
  background-color: #e8e8e8;
}

.divider {
  background-color: #e8e8e8;
  width: 100%;
  height: 1px;
}

.copyright {
  letter-spacing: -0.32px;
  color: #1a1a1a;
  width: 100%;
  max-width: 1440px;
  padding: 0 10px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .footerWrapper {
    max-width: 768px;
    padding: 0 32px 32px;
  }

  .footerLogo {
    font-size: 24px;
  }

  .socialLinks {
    gap: 16px;
  }

  .socialButton {
    padding: 10px;
  }

  .socialButton svg {
    width: 20px;
    height: 20px;
  }

  .copyright {
    padding: 0 16px;
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .footerWrapper {
    max-width: 1440px;
    padding: 0 80px 40px;
  }
}