.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 64px;
  align-items: start;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
}

.recipeLayout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Tablet */
@media (max-width: 768px) {
  .section {
    padding-bottom: 104px;
  }
}

/* Desktop */
@media (max-width: 1440px) {
  .section {
    grid-template-columns: 1fr;
    padding-bottom: 120px;
  }

  .recipeLayout {
    flex-direction: column;
  }
}
