.container {
    background: #fff;
    max-width: 375px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 80px;
    }
}

.hero {
    background-color: #050505;
    width: 359px;
    border-radius: 20px;
}

.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}