.contentWrapper {
    padding: 8px 8px 0 8px;
}

@media (min-width: 1440px) {
    .contentWrapper{
    padding: 16px 16px 0 16px;
    }
}

@media (min-width: 1440px) {
    .contentWrapper{
    padding: 20px 20px 0 20px;
    }
}